{% extends 'admin/change_list.html' %}

{% load crispy_forms_tags %}

{% block object-tools %}
    <div >
        <form id='sendMailForm' method="POST" style="padding: 20px">
            {% csrf_token %}
            <legend>Отправить письмо выбранным пользователям</legend>
            <fieldset>
                <input name='mailSubject' type="text" placeholder="Тема письма"><br>
                <textarea name='mailText'cols="30" rows="10" placeholder="Текст"></textarea>
            </fieldset>
            <small>
                Если пользователь не указал почту, письмо ему не отправится
            </small><br>
            <input type="submit" name="send_mail" value="Разослать письмо">
        </form>
        <script>
            let sendMailForm = document.querySelector('#sendMailForm');
            let mailSubject, mailText, emails = {}, emailsString = '';
            let inputs = document.querySelector('#result_list');
            function validateEmail(email) {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
            sendMailForm.addEventListener('submit', e => {
                e.preventDefault();
                let table = document.querySelector('#result_list'),
                    rows = table.getElementsByClassName('selected'), i, j;
                for (i = 0; i < rows.length; ++i) {
                    email = rows[i].getElementsByClassName('field-email')[0].innerHTML
                    validateEmail(email) ? emails[email] = email : null;
                }
                emailsString = '';
                for(let email in emails) emailsString += email + ','
                sendMailForm.action = 'mailSend/'+mailSubject +'/'+mailText+'/'+emailsString+'/'
                sendMailForm.submit()
            })
            // sendMailForm.querySelector('input[name="mailSubject"]').addEventListener('change', e => {
            //     mailSubject = e.target.value
            //     sendMailForm.action = 'mailSend /'+mailSubject +'/'+mailText+'/'+emailsString+'/'
            //     initInputs()
            // })
            // sendMailForm.querySelector('textarea[name="mailText"]').addEventListener('change', e => {
            //     mailText = e.target.value
            //     sendMailForm.action = 'mailSend/'+mailSubject +'/'+mailText+'/'+emailsString+'/'
            //     initInputs()
            // })
            // function initInputs() {
            //     inputs = document.querySelector('#result_list').children[1].getElementsByClassName("action-select");
            //     for(let input of inputs) {
            //         input.addEventListener('change', e => {
            //             if(input.parentElement.parentElement.children[2].innerText) emails[input.parentElement.parentElement.children[2].innerText] = input.parentElement.parentElement.children[2].innerText;
            //             emailsString = '';
            //             for(let email in emails) emailsString += email + ','
            //             sendMailForm.action = 'mailSend/'+mailSubject +'/'+mailText+'/'+emailsString+'/'
            //         })
            //     }
            //     let table = document.querySelector('#result_list'),
            //         rows = table.getElementsByClassName('selected'), i, j;
            //     for (i = 0; i < rows.length; ++i) {
            //         email = rows[i].getElementsByClassName('field-email')[0].innerHTML
            //         validateEmail(email) ? emails[email] = email : null;
            //     }
            //     e.preventDefault();
            //     sendMailForm.action = 'mailSend/'+mailSubject +'/'+mailText+'/'+emailsString+'/'
            // }
        </script>
    </div>
    {{block.super}}
{% endblock %}