body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


.button_main_empty {
  margin: 2px;
  background-color: white;
  color: black;
  border: 2px solid #5f788a;
}

.button_main_empty {
  transition-duration: 0.4s;
}

.button_main_empty:hover {
  background-color: #5f788a;
  color: white;
}

.wrong_group {
  background-color: indianred;
}

.sort_by_enter_time {
  opacity: 0.3;
}

.nobull {
  list-style-type: none;
}
 
.tag_priority {
  border-radius: 10px;
  border: 2px solid lightblue;
  padding: 3px;
}

.shadow {
  -webkit-box-shadow: 5px 4px 26px -20px rgba(0,0,0,0.65);
  -moz-box-shadow: 5px 4px 26px -20px rgba(0,0,0,0.65);
  box-shadow: 5px 4px 26px -20px rgba(0,0,0,0.65);
}

.user_in_queue {
  background-color: lightyellow;
}
.message-teacher {
  background-color: lightsalmon;
  margin: 10px;
  border-radius: 5px;
}
.message-you {
  background-color: lightyellow;
  margin: 10px;
  border-radius: 5px;
}
.message-other {
  background-color: lightgray;
  margin: 10px;
  border-radius: 5px;
}

.container-char {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.chat-container {
  height: 400px;
  overflow: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  direction: rtl;
}
.chat-container .message {
  border-bottom: solid 1px #ccc;
  padding: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  direction: ltr;
}
.chat-container .message .avatar {
  float: left;
  margin-right: 5px;
}
.chat-container .message .datetime {
  float: right;
  color: #999;
}
.send-message-form input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
}
.send-message-form button {
  display: none;
}