{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}{{queue.queue_title}}{% endblock %}
{% block content %}
    <div class="col-sm-7 shadow content-section" style="background-color: white;">
        <div>
            <div style="float: left;">
                <h1>{{queue.queue_title}}, {{queue.queue_group}}</h1>
                <p>{{queue.queue_info}}</p>
            </div>
            <div style="float: right; margin: 10px">
                {% if user.profile.user_type == 'headman' or user.profile.user_type == 'teacher' and user.profile.user_group == queue.queue_group %}
                    <form action="{% url 'lab_queue:editqueue' queue.queue_id %}"> {% csrf_token %}
                        <button class="button_main_empty" title="Изменить описание очереди" type="submit">✎</button>
                    </form>
                {% endif %}
                </form>
                <form action=""> {% csrf_token %}
                    <button class="button_main_empty" title="Обновить страницу" type="submit">↻</button>
                </form>
            </div>
        </div>
        {% if users %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Доп. информация</th>
                    <th scope="col">Управление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_in_queue in users %}
                    <tr class="{% if user_in_queue.uiq_user_id == user.id %}user_in_queue{% endif %}">
                        <th scope="row">{{user_in_queue.uiq_index}}</th>
                        <td>{{user_in_queue.uiq_first_name}}</td>
                        <td>{{user_in_queue.uiq_second_name}}</td>
                        <td class="{% if user_in_queue.uiq_group != queue.queue_group %}wrong_group{% endif %}">{{user_in_queue.uiq_group}}</td>
                        <td>
                            {% for priority in user_in_queue.uiq_priorities %}
                                <small class="tag_priority">{{priority}}</small>
                            {% endfor %}
                            {{user_in_queue.uiq_info}}
                        </td>
                        <td>
                            {% if user.profile.user_type == 'headman' or user.profile.user_type == 'teacher' %}
                            <form action='' method='POST'>{% csrf_token %}
                                <div>
                                    <button class="button_main_empty" type='submit' title="Передвинуть вверх по очереди" name='queue_move_up' value="{{user_in_queue.uiq_user_id}}">▲</button>
                                    <button class="button_main_empty" type='submit' title="Передвинуть вниз по очереди" name='queue_move_down' value="{{user_in_queue.uiq_user_id}}">▼</button>
                                    <button class="button_main_empty" type='submit' title="Выкинуть из очереди" name='queue_user_delete' value="{{user_in_queue.uiq_user_id}}">✖</button>
                                </div>
                            </form>
                            {% endif %}
                            {% if user_in_queue.uiq_want_to_swap and user_in_queue.uiq_user_id != current_user.uiq_user_id and user.id == current_user.uiq_user_id%}
                                <form action='' method='POST'> {% csrf_token %}
                                    <button class="button_main_empty" type='submit' title="Поменяться местами с выбранным человеком" name='queue_swap' value="{{user_in_queue.uiq_user_id}}">Махнуться местами</button>
                                </form>
                            {% endif %}
                            {% if current_user and user_in_queue.uiq_user_id == current_user.uiq_user_id %}
                                <form action='' method='POST'> {% csrf_token %}
                                    <button class="button_main_empty" type='submit' title="Изменить состояние 'хочу войти в очередь'" name='queue_swap_state'>
                                        {% if current_user.uiq_want_to_swap %}
                                            Не хочу меняться местами
                                        {% else %}
                                            Хочу поменяться местами
                                        {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                            {% if user_in_queue.uiq_want_to_swap and user_in_queue.uiq_user_id == current_user.uiq_user_id %}
                                <small>Вы готовы поменятся местами</small>
                            {% endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Группа</th>
                <th scope="col">Доп. информация</th>
                <th scope="col">Управление</th>
                </tr>
            </thead>
        </table>
        <h3>Эта очередь пустая</h3>
        {% endif %}
        {% if user.id == current_user.uiq_user_id %}
            <form action='' method='POST'> {% csrf_token %}
                <button class="button_main_empty" type='submit' title="Выйти из очереди" name='queue_exit'>Выпрыгнуть</button>
            </form>
        {% endif %}
        {% if user.profile.user_type == 'headman' or user.profile.user_type == 'teacher' and user.profile.user_group == queue.queue_group %}
            <form action='' method='POST'> {% csrf_token %}
                <div>
                    {% if not queue_delete_start %}
                        <button class="button_main_empty" type='submit' title="Удалить очередь" name='queue_delete_start'>Удалить очередь</button>
                    {% else %}
                        <p>Уверены?</p>
                        <button class="button_main_empty" type='submit' title="Удалить" name='queue_delete_confirm_true' value="{{queue.queue_id}}">Да</button>
                        <button class="button_main_empty" type='submit' title="Отмена" name='queue_delete_confirm_false'>Нет</button>
                    {% endif %}
                </div>
            </form>
        {% endif %}
    </div>
    <div class="col-sm-5">
        <div class="row container">
            {% if user.username != '' %}
            <div class="content-section shadow container">
                <div class="row">
                    <div class="col-sm">
                        <div class="container-chat">
                            <h1>Чат очереди</h1>
                            <div class="chat-container">
                                {% for message in chat_messages %}
                                    <div class="message shadow {% if message.user.type == 'teacher' %} message-teacher {% elif message.user.id == user.id %} message-you {% else %} message-other {% endif %}">
                                        <div >{{message.user.first_name}} {{message.user.last_name}}</div>
                                        <div class="datetime">{{message.date}}</div>
                                        <p>{{message.text}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <form class="send-message-form" action="" method="POST"> {% csrf_token %}
                                <input type="text" name="queue_message_send" placeholder="Enter чтобы отправить">
                                <button class="button_main_empty" type="submit">Отправить</button>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="content-section shadow container">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="align-self: center;">
                            {% if user.profile.user_type != 'teacher' %}
                                {% if user.id != current_user.uiq_user_id %}
                                    <p class='text-muted'>Войти в очередь.
                                        {% if user_can_enter %}
                                            <form action='' method='POST'> {% csrf_token %}
                                                <button class="button_main_empty" type='submit' title="Перейти на последнее место в очереди" name='queue_enter'>Запрыгнуть в очередь</button>
                                                <fieldset>
                                                    {{ queue_enter_form|crispy }}
                                                    {{ priorities_form|crispy }}
                                                </fieldset>
                                            </form>
                                        {% else %}
                                            <h3>Сейчас вы не можете войти, очередь будет доступна только через {{user_can_enter_remain}}</h3>
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <p class='text-muted'>Изменить свою информацию.
                                        {% if current_user %}
                                            <form action='' method='POST'> {% csrf_token %}
                                                <button class="button_main_empty" style="justify-self: center;" type='submit' title="Изменить информацию о себе в очереди" name='queue_change_info'>изменить информацию</button>
                                                <input type="text" name="uiq_info" style="margin-top: 10px; margin-bottom: 10px; width: 80%;">
                                                <fieldset>
                                                    {{ queue_enter_form|crispy }}
                                                    {{ priorities_form|crispy }}
                                                </fieldset>
                                            </form>
                                        {% endif %}
                                    </p>
                                {% endif %}
                            {% else %}
                                Вы преподаватель, вам это не нужно
                            {% endif %}
                        </div>
                    </div>
                    {% if queue.queue_priorities%}
                    <div class="col-sm-6">
                        <p class='text-muted'> Порядок приоритетов
                            <ul class="list-group">
                                {% if user.profile.user_type == 'teacher' or user.profile.user_type == 'headman' %}
                                    <form action="" method="POST" style="align-self: center; padding-bottom: 10px;"> {% csrf_token %}
                                        <button class="button_main_empty" type="submit" name="sort_by_enter_time_change" id="sort_by_enter_time_change" title="Изменить принцип стортировки">
                                            {% if queue.queue_sort_by_enter_time %}
                                                Сортировать по приоритетам
                                            {% else %}
                                                Сортировать по времени вхождения
                                            {% endif %}
                                        </button>
                                    </form>
                                {% endif%}
                                {% if not queue.queue_sort_by_enter_time %}
                                    {% for priority in queue_priorities %}
                                        <li class="list-group-item {% if queue.queue_sort_by_enter_time %}sort_by_enter_time disabled{% endif %}">
                                            {{priority}}  
                                            {% if user.profile.user_type == 'teacher' or user.profile.user_type == 'headman' %}
                                                <div style="float: right">
                                                    <form action="" method="POST"> {% csrf_token %}
                                                        <button class="button_main_empty" type='submit' title="Передвинуть приоритет вверх" name='queue_priority_move_up' value="{{priority}}">▲</button>
                                                        <button class="button_main_empty" type='submit' title="Передвинуть приоритет вниз" name='queue_priority_move_down' value="{{priority}}">▼</button>
                                                    </form>
                                                </div>
                                            {% endif%}
                                        </li>
                                    {% endfor%}
                                {% else %}
                                    <p style="align-self: center;">Отключено</p>
                                {% endif%}
                            </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}