{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Изменение текущей очереди {{queue}}{% endblock %}

{% block content %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <legend>Изменение очереди</legend>
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="button_main_empty" type="submit">Изменить</button>
            </div>
        </form>
    </div>

{% endblock %}