{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Изменение текущей очереди {{queue}}{% endblock %}

{% block content %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <legend>Изменение очереди</legend>
            <fieldset>
                {{ form|crispy }}
                <p>Приоритеты</p> <small>(по ним можно сортировать стоящих в очереди)</small><br><small>(имейте ввиду, что текущие приоритеты у стоящих в очереди исчезнут)</small>
                <div style="display: flex; margin-top: 5px; margin-bottom: 5px;">
                    <input type="number" name="queue_priorities_number" placeholder="количество приоритетов" style="margin-right: 10px; width: auto;">
                    <button class="button_main_empty" name="queue_priorities_number_set" type="submit" value="True">Изменить</button>
                </div>
                {{priorities.management_form}} 
                {% for priority in priorities %}
                    {{ priority|crispy }}
                {% endfor%}
            </fieldset>
            <div>
                <button class="button_main_empty" type="submit">Изменить очередь</button>
            </div>
        </form>
    </div>

{% endblock %}